/Sklep_internetowy_DD_DP/obj/project.packagespec.json
/Sklep_internetowy_DD_DP/Sklep_internetowy_DD_DP/obj/**
/Sklep_internetowy_DD_DP/obj/**
/Sklep_internetowy_DD_DP/Sklep_internetowy_DD_DP.sln.DotSettings.user