@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Drogi użytkowniku!</h1>
    <p>W tym miejscu powstanie sklep internetowy y-kom</p>
    <div style="margin-bottom: 50px"></div>
    <div style="margin: auto auto;">
        <img src="~/Photos/Service.png" alt="" width="150" />
    </div>
</div>
